@import url('https://fonts.googleapis.com/css?family=Saira:400,700');

* { color:#fff; text-decoration: none;}


body {
  background-color: #515151;
  font-family: 'Open Sans', serif;
  margin: 1%; 
}

.mybg {
  background-color: #333333 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;

}


#mylist > .container > .item > a:hover {
  color: #65BDEF !important;
}

#mylist > .container .item > a {
  color: white !important;
}

li a:hover {
  color: #65BDEF;
}

