@import url('https://fonts.googleapis.com/css?family=Saira:400,700');

* { color:#fff;  text-decoration: none;}


body {
  background: rgb(90, 90, 90) url('../img/blurred.jpg') no-repeat center center fixed !important; 
    /* background-color: #5e5e5e;  */
    
   /* background: rgb(90, 90, 90);  */
  font-family: 'Open Sans', serif;
  margin: 1%; 
}

.mybg {
  background-color: #303030 !important;
}

.posts, .active {
  background: #fafafafa !important;
}


.cvmenu {
  background: rgb(140, 140, 140) !important;
}

.cvmenu > a {
  font-family: 'Saira Extra Condensed', serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}


.tags {
  color:  black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;

}

/* .meta > span  {
  color: grey !important;
} */

.header, .post {
  color:  black !important;
}

hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 0.5px solid #fafafafa;
  margin: 0.5em 0;
  padding: 0; 
}

.projhead {
  text-align: center;
  font-size: x-large;
}

.projmeta {
  text-align: center !important;
}
/* 
#mylist > .container > .item > a:hover {
  color:   rgb(51, 189, 235) !important;
}

#mylist > .container .item > a {
  color: white !important;
} */

#backbtn {
  font-size: large;
  text-decoration: underline;
  float: right !important;
  color: white;
}

#backbtn:hover {
  color: rgb(51, 189, 235);
}

#social > i:hover {
  color: rgb(51, 189, 235);
}

#mybtn, #mybtn > i {
  color: white;
  background: #303030;
}

#mybtn:hover {
  color: rgb(51, 189, 235);
}